@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Dosis:wght@200;300&family=Kaushan+Script&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Kaushan+Script&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');


:root {
    --cor01: white ;
    --cor02: #868686 ; 
    --cor03: #ECECEC ; 
    --cor04: #f0b46cab ; 
    --cor05: #2ABFB0 ; 

    --fonte-principal: 'Caveat', cursive;
    --fonte-destaque: 'Dosis', sans-serif;
    --fonte-padrao: 'Quicksand', sans-serif;
}


body {
    background-color: white
}


header {
    background-image: url('../imagens/foto_hostel4.png'); 
    background-position: center top;
    background-size: cover;
    min-height: 550px;
    text-align: center;
    padding-top: 30px ;
    margin: -27px;
} 

header > h1 {
    color: var(--cor01);
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 7.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445) ; 
    margin-bottom: 0px;
    padding: 0px;
}

header > p {
    font-family: var(--fonte-destaque);
    font-weight: bold ;
    font-size: 3em;
    color: var(--cor01);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445) ;
    margin: 10px 0px 18px 0px ;
    padding: 20px;
}

header > nav {
    font-family: var(--fonte-destaque);
    margin: 26px ; 
    padding-top: 100px ;
    text-align: left;
}

nav > a {
    color: rgba(255, 250, 250, 0.925);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.445) ;
    font-size: 1.3em ; 
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: #293b3a54 ;
}

main {
    background-color: rgba(255, 255, 255, 0.932);
    min-width: 300px ; 
    max-width: 1100px;
    margin: auto;
    margin-top: 0px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-radius: 10px
}

main p {
    color: #616161;
    text-align: justify;
    font-family: var(--fonte-padrao);
    line-height: 2em;
    margin: 20px;
}

main > h2 {
    color: #7e7d7d;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 2.3em;
    padding: 40px 0px 56px 0px;
    margin: 20px ; 
}

main > h3 {
    font-family: var(--fonte-padrao);
    margin: 10px;
}

main > h4 {
    color: #616161;
    font-family: var(--fonte-padrao);
    margin: 15px;
}

p > a {
    text-decoration: none ;
    color: #616161 ; 
}

p > a:hover {
    color: white;
    text-decoration: underline;
}

.destaque {
    font-family: var(--fonte-padrao);
    background-color: var(--cor05);
    height: 265px;
    width: 400px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0px 0px 0px 35px ;
    border-radius: 10px 0px 0px 10px;
    max-width: 800px;
    min-width: 380px ;
}

.maior {
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    line-height: 1.8em;
}

.container {
    display: flex;
    align-items: center;
}

footer {
    min-width: 300px ; 
    max-width: 1100px;
    margin: auto;
    margin-top: 0px;
    padding: 80px;
}

#rodape {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: 550;
    text-decoration: dotted;
    background-color: #2ABFB0;
    padding: 10px;
}

.rodape {
    font-family: var(--fonte-padrao);
    color: #616161;
    font-size: 1.0em;
}

.rodape > a:hover {
    text-decoration: underline;
    color: #616161;
}